html {
  scroll-padding-top: 3rem;
}
body {
    background-color: #eeeeee;
    color: #3b3b3b;
    font-family: Open Sans, sans-serif;
    text-align: justify;
}
#nav_bar {
    display: table;
    background-color: #4b4b4b;
    color: #eeeeee;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    text-align: center;
}
#nav_bar ul{
    padding-left: 0px;
    margin-top: 7px;
    margin-bottom: 7px;
}
#nav_bar li{
    display: inline;
    list-style-type: none;
    padding: 15px;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 18pt;
}
#nav_bar a:link {
    color: #eeeeee;
    text-decoration: none;
}
#nav_bar a:visited {
    color: #eeeeee;
    text-decoration: none;
}

div.photo_container {
    display:inline-block;
    width: 125px;
    height: 200px;
    padding: 5px;
    margin: 0;
}

div.photo_background {
    margin: 0 -20px;
    background-color: #d45100;
    text-align: center;
}

div.photo_section {
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    max-width: 650px
}

div.mission {
    font-size: 14pt;
    text-align: center;
    margin: 20px auto;
    max-width: 700px;
}

div.content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

div.logo {
    text-align: right;
}

h1 {
    color: #d45100;
    text-align: center;
    font-family: 'Lato';
    font-size: 36pt;
    font-weight: 300;
    margin-top: 90px;
}
h2 {
    color: #d45100;
    text-align: center;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 26pt;
}
a:link {
    color: #3b3b3b;
}
a:visited {
    color: #3b3b3b;
}
tt {
	  font-family: monospace;
}
img {
    width : 100%;
    height: 100%;
}
