/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

/* Elements */
* {
	color: #483D8B;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: #FFFACD;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: small;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
  color: #483D8B;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

h4, h5, h6 {
}

p, ol, ul, dl, blockquote {
	margin-top: 0;
}

a {
}

a:hover {
	text-decoration: none;
	color: #6699FF;
}

a:visited a:hover {
  text-decoration: none;
  color: #483D8B;
}

/* Wrapper */

#wrapper {
	width: 800px;
	height: 100%;
	min-height: 100%;
	padding: 20px;
	margin: 0 auto;
}

html>body #wrapper {
	height: auto;
}

/* Header */

#header {
	width: 800px;
	height: 80px;
  padding-bottom: 3px;
	background: #4B0082;        
	color: #66CCFF;
}

#header h1 {
	float: left;
	padding: 10px 0 0 15px;
	font-size: 3.5em;
	letter-spacing: -2px;
  color: #FFFFFF;
}

#header h2 {
	float: right;
	padding: 10px 20px 0 0;
	font-size: 1.25em;
	letter-spacing: -1px;
}

#header a {
	text-decoration: none;
}

/* Menu */

#menu {
	width: 800px;
	height: 33px;
	padding-top: 10px;
  background:#dddddd;
  margin-left:auto;
  margin-right: 0px;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	width: 150px;
	height: 14px;
	padding: 3px 4px 0 4px;
  font-size: 1.1em;
  text-align: center;
	text-decoration: none;
}

#menu .active a, #menu a:hover {
	color: #6666FF;
}

/* Content */

#content {
	width: 760px;
	background: #FFFFFF; 
	padding: 20px 20px 20px 20px;
}

#content h2 {
	margin-bottom: 1em;
}

#content h3 {
	margin-bottom: 0;
}

#colOne {
	float: right;
	width: 500px;
	padding: 20px 20px 0 20px;
}

#colTwo {
	float: left;
	width: 180px;
	padding: 20px 20px 0 20px;
}

#colTwo ul {
	margin-left: 0;
	padding-left: 0;
	list-style-position: inside;
}

/* Footer */

#footer {
	width: 800px;
}

#footer p {
	margin: 0;
	padding: 20px 0 0 0;
	text-align: center;
	font-size: smaller;
  color: #483D8B
}

.button {
  background-color: #483D8B;
  color: #ffffff;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: small;
}

